body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

header {
  padding: 10px;
}

footer {
  padding: 10px;
  font-size: 14px;
  opacity: 0.8;
}
